################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

./vs
/LogisControlAPI/bin/
/LogisControlAPI/obj/


# projeto de testes
/LogisControlAPI.Tests/bin/
/LogisControlAPI.Tests/obj/