################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

./vs
/LogisControlAPI/bin/
/LogisControlAPI/obj/
/LogisControlAPI/.vs/

# Ignorar o projeto de testes xUnit
/LogisControlAPI.Tests/