################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogisControlAPI/.vs/LogisControlAPI/FileContentIndex
/LogisControlAPI/.vs
/LogisControlAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/.gitignore
